<h1>Task Details</h1>
<h2><%= @task.name %></h2>
<p><%= @task.details %></p>
<p>Completed: <%= @task.completed %></p>
<%= link_to "Delete task",
  tasks_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<%= link_to 'Back to Task List', tasks_path %></label><br>
